# Dependencies
/node_modules
/dist
/.angular

# IDE
/.vscode
/.idea
*.sublime-workspace

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
/src/environments/*.js
/src/environments/*.js.map

# System Files
.DS_Store
Thumbs.db